<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.education</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Origa recognizes Japanese speech to transcribe audio input.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Origa records audio to transcribe Japanese speech.</string>
</dict>
</plist>
