[application]

[web.app]

# HTML title tag content
title = "keikaku_ui"

# include `assets` in web platform
[web.resource]

# Additional CSS style files
style = []

# Additional JavaScript files
script = []

[web.resource.dev]

# Javascript code file
# serve: [dev-server] only
script = []

[bundle]
identifier = "net.uwuwu.keikaku"
publisher = "uwuwu.net"
icon = ["assets/favicon.ico"]
